*.json
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
BuildingEscape/Content/StarterContent
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDRI
*.umap
BuidlingEscape/Content/*.umap
*.pdb
*.dll
*.uasset
*.bin
*.ini
*.log
*.dmp
*.target
*.modules
*.code-workspace
*.uproject
*.runtime-xml
*.cs
*.png
